ltex*.txt
lazy*.json
aura_penguin.jpg
spell/
local/share/nvim/
local/share/fonts/
local/share/fcitx5/skk/

config/nvim/snippets/easifem-*.json
config/tmux/plugins/*

/config/fish/fish_variables
/config/fish/fish_variables*
/config/fish/functions/*
!/config/fish/functions/fish_prompt.fish
!/config/fish/functions/fish_logo.fish
/config/fish/conf.d/* 
!/config/fish/conf.d/keychain.fish
/config/fish/completions/* 
!/config/fish/completions/fish_logo.fish
/config/fish/deepl_key.txt

/config/helix/external-snippets/github.com
/config/helix/external-snippets/github.com/*
/config/helix/runtime/grammars
/config/helix/runtime/grammars/*

config/yazi/flavors/*
config/keychron/*
config/fastfetch/examples/*

newsboat/cache.db
newsboat/urls
newsboat/history*


