[Desktop Entry]
Type=Application
StartupNotify=false
Name=OneDriveGUI
Comment=A simple GUI for OneDrive Linux client
Exec=onedrivegui
Icon=OneDriveGUI.png
Categories=Network;Office
